<div class="col-md-12">
    <div class="text-bg-dark text-center rounded-bottom py-4">
        <h1 class="display-4">
            Employee Registration Form
        </h1>
    </div>
</div>
<div class="p-4">
<div class="col-md-6">
<form class="row" [formGroup]="service.employeeForm" (submit)="onSubmit()" [class.submitted]="submitted">
    <div class="col-12 mb-3">
        <label class="form-label">Full Name</label>
        <input class="form-control form-control-lg" placeholder="Enter full name" formControlName="fullName">
    </div>
    <div class="col-12 mb-3">
        <label class="form-label">Location</label>
        <input class="form-control form-control-lg" placeholder="City, Country" formControlName="location">
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Position</label>
        <input class="form-control form-control-lg" placeholder="Position" formControlName="position">
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Salary</label>
        <input class="form-control form-control-lg" placeholder="Salary Per year" formControlName="salary">
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
</form>
</div>
</div>
